.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: "side-bar__user-name__top-items__icons__edit-group" do
          = icon('far','edit')
          %span<>
        = link_to edit_user_path(current_user), class: "side-bar__user-name__top-items__icons__edit-user" do
          = icon('fas','cog')
          %span<>
  .side-bar__group-lists
    - current_user.groups.each do |group|
      .side-bar__group-lists__group
        = link_to group_messages_path(group), class: "side-bar__group-lists__group__link" do      
          .side-bar__group-lists__group__link__name
            = group.name
          .side-bar__group-lists__group__link__message
            = group.show_last_message